@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Color Scheme
:root {
    --primary-color: #ff5733; Primary color (orange)
    --secondary-color: #542583; Secondary color (purple)
    --accent-color: #f0a74e; Accent color (light orange)
} */


header {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

header nav ul {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #fff; 
    position: relative;
}

header nav li a::after, header nav .active::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}

header nav li a:hover::after, header nav .active::after {
     transform: scaleX(1);
     transform-origin: bottom left  ;
}

.left-container, .right-container {
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container {
    background: #262525;
    width: 70%;
    padding-left: 3rem;
}

.icons .fa-brands {
    color: #bbb;
    font-size: 1.7rem; 
    cursor: pointer;
}

.icons .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* height: 100vh; */
}

.content {
    margin-left: 4rem;
}

.content .intro {
    font-size: 1.5rem;
    color: #fff;
}

.content .intro span {
    color: #5DB9EE;
}

.content h1 {
    font-size: 4rem;
    color: #5DB9EE;
}

.content .detail {
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}

.content-buttons button {
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.content-buttons button:nth-child(1) {
    background: #5DB9EE;
    color: #262525;
}

.content-buttons button:nth-child(1):hover {
    color: #5DB9EE;
    background: transparent;
}

.content-buttons button:nth-child(2) {
    background: transparent;
    color: #5DB9EE;
    margin-left: 1.5rem;
}

.content-buttons button:nth-child(2):hover {
    color: #262525 ;
    background: #5DB9EE;
}

.right-container {
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;
}

.design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 38rem;
}

.circle:nth-child(2) {
    background: url("images/profile.jpg");
    width: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1rem solid #fff;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
}